*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background:linear-gradient(rgba(167,218,208,0.75), rgba(5,7,12,0.75)),
  url("./Imagen/Tienda.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  color: white;
}



nav{
	background-color: #2DF3CF;
	display: flex;
	justify-content: space-between;
	height: 60px;
	align-items: center;
	padding-right: 10px;
	padding-left: 10px;
}

a{
  text-decoration: none;
}

.container{
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-right: 15px;
  	padding-left: 15px;
}

.container2{
  border-radius: 15px;
  margin: 30px;
  padding: 20px 10px 20px 10px;
}

.button{
  border: solid 1px black;
  border-radius: 10px;
  cursor: pointer;
  background: white;
  width: 32px;
  height: 32px;
}

.emoji{
  border: none;
}

.div_total{
  align: center;
}

.Search{
	margin-top: 15px;
	margin-right: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.li_container{
	margin-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	height: 300px;
	overflow: auto;
}

ul{
	margin-top: 10px;
	list-style: none;
}

